<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu sistema</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbarCSS.css">
    <link rel="stylesheet" href="../css/tendencias.css">
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="/">Tendências</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="ciberseguranca">
                <h3>Cibersegurança</h3>
                <section>
                    <h4>O que é ?</h4>
                    <p>Cibersegurança refere-se às práticas e tecnologias destinadas a proteger sistemas, redes e dados
                        contra ataques digitais. É essencial no mundo atual devido à crescente dependência tecnológica e
                        ao aumento de crimes cibernéticos.</p>
                </section>
                <section>
                    <h4>Histórico</h4>
                    <p>A cibersegurança evoluiu com o surgimento dos primeiros vírus, como o Creeper (1971), e grandes ataques, como o WannaCry (2017). Esses eventos demonstraram a necessidade de proteção robusta contra ameaças digitais.</p>
                </section>
                <section class="topicos">
                    <div class="coluna">
                        <h4>Principais ameaças</h4>
                    <ul>
                        <li><strong>Malware:</strong> Inclui vírus, worms, trojans, ransomware e spyware, que comprometem sistemas de diversas formas.</li>
                        <li><strong>Phishing:</strong> Técnicas de engano para roubar dados sensíveis, como senhas e informações financeiras.</li>
                        <li><strong>Ataques DDoS:</strong> Sobrecarga de servidores, causando indisponibilidade de serviços.</li>
                        <li><strong>Vazamento de Dados:</strong> Exemplos notáveis incluem os vazamentos de dados do Facebook e Equifax, que comprometeram informações de milhões de pessoas.</li>
                    </ul>
                    </div>
                    <div class="coluna">
                        <h4>Técnicas e Ferramentas de Proteção</h4>
                        <ul>
                            <li><strong>Firewall:</strong> Atua como uma barreira entre redes internas e externas para bloquear acessos não autorizados.</li>
                            <li><strong>Antivírus/Antimalware:</strong> Identificam e removem softwares maliciosos.</li>
                            <li><strong>Autenticação Multifator (MFA):</strong> Adiciona camadas extras de segurança na verificação de identidade.</li>
                            <li><strong>Criptografia:</strong> Protege dados ao transformá-los em informações ilegíveis sem a chave correta.</li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="blockchain">
                <h3>Blockchain</h3>
                <h4>O que é?</h4>
                <section>
                    <p>Blockchain é uma tecnologia de registro distribuído que permite transações seguras, transparentes e imutáveis entre partes sem a necessidade de intermediários.</p>
                </section>
                <section>
                    <h4>Histórico</h4>
                    <p>A tecnologia blockchain foi introduzida em 2008 como a base para o Bitcoin, criada por um indivíduo ou grupo sob o pseudônimo de Satoshi Nakamoto. Desde então, foi adotada em diversos setores além das criptomoedas.</p>
                </section>
                <section class="topicos">
                    <div class="coluna">
                        <h4>Aplicações</h4>
                        <ul>
                            <li><strong>Criptomoedas:</strong> Usada para transações seguras em moedas digitais, como Bitcoin e Ethereum.</li>
                            <li><strong>Contratos Inteligentes:</strong> Permite a automação de acordos sem a necessidade de intermediários.</li>
                            <li><strong>Gestão de Cadeia de Suprimentos:</strong> Rastreabilidade de produtos ao longo da cadeia de fornecimento.</li>
                            <li><strong>Identidade Digital:</strong> Protege informações pessoais contra fraudes e acessos não autorizados.</li>
                        </ul>
                    </div>
                    <div class="coluna">
                        <h4>Benefícios</h4>
                        <ul>
                            <li><strong>Transparência:</strong> Todas as transações são registradas publicamente no livro-razão.</li>
                            <li><strong>Segurança:</strong> A natureza descentralizada e o uso de criptografia tornam os dados mais seguros.</li>
                            <li><strong>Redução de Custos:</strong> Elimina intermediários, reduzindo custos de transações.</li>
                            <li><strong>Eficiência:</strong> Processos automatizados reduzem o tempo de execução de tarefas.</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <script src="../js/mobileNavbar.js"></script>
    <script src="../../app.js"></script>
</body>

</html>