<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu sistema</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbarCSS.css">
    <link rel="stylesheet" href="../css/trabalhos.css">
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="/">Trabalhos</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="opcoes">
            <a href="/mat" class="botao">Matemática</a>
            <a href="/CN" class="botao">Ciências da Natureza</a>
            <a href="CH" class="botao">Ciências Humanas</a>
            <a href="ling" class="botao">Linguagens</a>
        </div>
    </main>

    <script src="../js/mobileNavbar.js"></script>
    <script src="../../app.js"></script>
</body>

</html>
