<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humanas</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbarCSS.css">
    <link rel="stylesheet" href="../../css/materias.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/trabalhos">Humanas</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section>
                <h2 class="subtitulo">Primeiro ano 1º</h2>
                <div class="quadro">
                    <img src="../../images/materias/CH/ATIVIDADE SOBRE CONSUMISMO, MERCANTILIZAÇÃO DA VIDA E ALIENAÇÃO (1).jpg" alt="Apresentaçaõ sobre mercantilização da vida e alienação.">
                    <p>Nessa atividade, pesquisei sobre um anúncio que era tnetador ao consumidor e relacionei aos conceitos aprendidos sobre <strong>alienação e mercantilização da vida.</strong></p>
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Segundo ano 2º</h2>
                <div class="quadro">
                    <img src="../../images/materias/CH/Relações de Poder Hobbes e Rousseau. (1).jpg" alt="Infográfico sobre Hobbes e Rosseau.">
                    <p>Este foi um infográfico que projetei em grupo, falando sobre Hobbes e Rousseau.</p>
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Terceiro ano 3º</h2>
                <div class="quadro">
                    <img src="../../images/materias/CH/desigualdade.jpg" alt="Apresentação sobre Desigualdade Social">
                    <p>Neste trabalho, pesquisamos e analizamos diferentes perfis disponibilizados pela professora. Esses perfis são projetos tentam combater de alguma forma a <strong>desigualdade social.</strong></p>
                </div>
                <div class="quadro">
                    <img src="../../images/materias/CH/mexico.jpg" alt="Apresentação sobre política no México">
                    <p>Esta pesquisa aponta o tema de <strong>representatividade política das mulheres</strong> no México. Usando a atual (em 12/2024) presidente como exemplo.</p>
                </div>
             
    </main>
    <script src="../../js/mobileNavbar.js"></script>
    <script src="../../../app.js"></script>
</body>
</html>