<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linguagens</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbarCSS.css">
    <link rel="stylesheet" href="../../css/materias.css">
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="/trabalhos">Linguagens</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section>
                <h2 class="subtitulo">Primeiro ano 1º</h2>
                <div class="quadro">
                    <img src="../../images/materias/ling/Análise sintática - adjunto adnominal (1).jpg" alt="Adjunto Adnomiinal">
                    <p>Apresentação sobre <strong>adjunto adnominal</strong>.</p>
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Segundo ano 2º</h2>
                <div class="quadro">
                    <img src="../../images/materias/ling/donald glover (1).jpg" alt="Apresentação sobre o Donal Glover">
                    <p>Nesta apresentação, falamos sobre uma grande <strong>celebridade negra.</strong> O Donald Glover.
                        Donald Glover é um ator, músico (Childish Gambino), roteirista e comediante norte-americano.
                        Conhecido por Community, Atlanta e o hit This Is America.</p>
                </div>
                <div class="quadro">
                    <img src="../../images/materias/ling/" alt="">
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Terceiro ano 3º</h2>
                <div class="quadro">
                    <img src="../../images/materias/ling/KENDRICK LAMAR. (1).jpg" alt="Apresentação sobro o Kendrick Lamar">
                    <p>Neste trabalho, pesquisamos sobre o <strong>Kendrick Lamar</strong>. Um Artista com uma influência gigânte e que teve ajuda de patrocinio em sua carreira.</p>
                </div>
            </section>

    </main>
    <script src="../../js/mobileNavbar.js"></script>
    <script src="../../../app.js"></script>
</body>

</html>