<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matemática</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbarCSS.css">
    <link rel="stylesheet" href="../../css/materias.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/trabalhos">Matemática</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section>
                <h2 class="subtitulo">Primeiro ano 1º - </h2>
            </section>
            <section>
                <h2 class="subtitulo">Segundo ano 2º - </h2>
                <div class="quadro">
                    <img src="../../images/materias/mat/terremotos logaritimo  (1).jpg" alt="Apresentação sobre terremotos e logaritimo">
                    <p>Esta foi uma apresentação sobre <strong>terremotos e logaritimo</strong>.</p>
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Terceiro ano 3º - </h2>
                <div class="quadro">
                    <img src="../../images/materias/mat/Investimento-matemática (1).jpg" alt="">
                    <p>Nesse projeto, fizemos uma pesquisa para falar sobre investimentos e diferentes tipos de investimento.</p>
                </div>
                <div class="quadro">
                    <img src="../../images/materias/" alt="">
                    <p></p>
                </div>

            </section>
        </div>
    </main>
    <script src="../../js/mobileNavbar.js"></script>
    <script src="../../../app.js"></script>
</body>
</html>