<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciências da Natureza</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbarCSS.css">
    <link rel="stylesheet" href="../../css/materias.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/trabalhos">Natureza</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section>
                <h2 class="subtitulo">Primeiro ano 1º - </h2>
                <div class="quadro">
                    <img src="../../images/materias/CN/Funções orgânicas e inorgânicas (1).jpg" alt="Apresentação sobre Função Orgânica e Inorgânica">
                    <p>Nesta apresentação, falamos sobre as <strong>funções orgânicas e inorgânicas</strong> da química.</p>
                </div>
                <div class="quadro">
                    <img src="../../images/materias/CN/Estudo das propriedades dos gases (1).jpg" alt="Apresentação sobre os gases">
                    <p>Aqui falamos sobre os <strong>gases</strong>, suas proriedades e classificações.</p>
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Segundo ano 2º -</h2>
                <div class="quadro">
                    <img src="../../images/materias/CN/lactase (1).jpg" alt="Apresentação de Lactase">
                    <p>Apresentação sobre a <strong>Lactase</strong>, explicando o que é e como afeta nosso organismo.</p>
                </div>
            </section>
            <section>
                <h2 class="subtitulo">Terceiro ano 3º - </h2>
                <div class="quadro">
                    <img src="../../images/materias/CN/reinoAnimal.jpg" alt="Apresentação Reino Animal">
                    <p>Esta apresentação sobre o reino animal, focado nos <strong>peixes</strong> vertebrados.</p>
                </div>
                <div class="quadro">
                    <img src="../../images/materias/CN/Acidentes Nucleares (1).jpg" alt="Apresentação sobre acidentes Nucleares">
                    <p>Esta apresentação é sobre <strong>acidentes nucleares</strong>, onde destacamos 3 principais acidentes. Falamos sobre suas causas, consequencias e formas de prevenção.</p>
                </div>

            </section>
        </div>
    </main>
    <script src="../../js/mobileNavbar.js"></script>
    <script src="../../../app.js"></script>
</body>
</html>