<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciências da Natureza</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbarCSS.css">
    <link rel="stylesheet" href="../../css/materias.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Portifólio</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Portifólio</a></li>
                <li><a href="/tendencias">Tendêcias</a></li>
                <li><a href="/trabalhos">Trabalhos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section>
                <h2 class="subtitulo">Primeiro ano 1º</h2>
                <p>No primero ano do ensino médio, fiz: </p>
            </section>
            <section>
                <h2 class="subtitulo">Segundo ano 2º</h2>
                <p>No segundo ano do ensino médio, fiz:</p>
            </section>
            <section>
                <h2 class="subtitulo">Terceiro ano 3º</h2>
                <p>No meu terceiro e último ano do ensino médio, pensando em Ciências da Natureza,
                    tive muitas aulas e fiz muitos trabalhos legais. Como:</p>
                <div class="quadro">
                    <img src="../../images/materias/CN/reinoAnimal.jpg" alt="Apresentação Reino Animal">
                    <p>Esta apresentação sobre o reino animal, focado nos <strong>peixes</strong> vertebrados.</p>
                </div>
                <div class="quadro">
                    <img src="../../images/materias/CN/acidentesNucleares.jpg" alt="Apresentação sobre acidentes Nucleares">
                    <p>Esta apresentação é sobre <strong>acidentes nucleares</strong>, onde destacamos 3 principais acidentes. Falamos sobre suas causas, consequencias e formas de prevenção.</p>
                </div>

            </section>
        </div>
    </main>
    <footer></footer>
    <script src="../../js/mobileNavbar.js"></script>
    <script src="../../../app.js"></script>
</body>
</html>